.pageWrapper {
  min-height: 100vh;
}
.contentArea {
  flex-grow: 1;
  max-width: 1300px;
  margin: 0 auto;
}
.card {
  box-shadow:0 0.5rem 1rem rgba(0, 0, 0, 0.30);
  margin-bottom: 30px;
}

.circle-box {
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 100%;
  &.lg-box {
    width: 60px;
    height: 60px;
    font-size: 21px;
    line-height: 60px;
  }
}
.button-group .btn {
  margin: 3px;
}
table th {
  font-weight: 500;
}


.table>:not(:first-child) {
  border-top: 2px solid;
}
.table-borderless>:not(:first-child) {
  border-top-width: 0;
}
p{font-size: 13px;}
.fsize{font-size: 25px;
}
.bttnnns{font-size: 8px;
  border-radius: 50px;
  margin-bottom: 10px;
}
  .botm a{
  font-weight: bold;
  
text-decoration: none;
}
.botm{text-align: center;}
.p-3.immg{justify-content: center;display: grid;}
.p-3.immg p{justify-content: center;display: grid;}
.lneth{text-decoration: line-through red;}
.body{background-color: red;}
.expo{color: black;
  text-align: center;
  font-size: 13px;
  font-weight: bold;}
.flnk{font-size: 11px;
  float: right;
  text-decoration: none;
}




div.btn-container{
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  margin-bottom: 10px;
}

div.btn-container i{
  display: inline-block;
  position: relative;
  top: -9px;
}

label {
  font-size: 13px;
  color: #424242;
  font-weight: 500;
}

.btn-color-mode-switch{
  display: inline-block;
  margin: 0px;
  position: relative;
}

.btn-color-mode-switch > label.btn-color-mode-switch-inner{
  margin: 0px;
  width: 140px;
  height: 30px;
  background: #E0E0E0;
  border-radius: 26px;
  overflow: hidden;
  position: relative;
  transition: all 0.3s ease;
  /*box-shadow: 0px 0px 8px 0px rgba(17, 17, 17, 0.34) inset;*/
  display: block;
}

.btn-color-mode-switch > label.btn-color-mode-switch-inner:before{
  content: attr(data-on);
  position: absolute;
  font-size: 12px;
  font-weight: 500;
  top: 7px;
  right: 20px;

}

.btn-color-mode-switch > label.btn-color-mode-switch-inner:after{
  content: attr(data-off);
  width: 70px;
  
  background: #fff;
  border-radius: 26px;
  position: absolute;
  left: 2px;
  top: 2px;
  text-align: center;
  transition: all 0.3s ease;
  box-shadow: 0px 0px 6px -2px #111;
  padding: 5px 0px;
}

.btn-color-mode-switch > .alert{
  display: none;
  background: #FF9800;
  border: none;
  color: #fff;
}

.btn-color-mode-switch input[type="checkbox"]{
  cursor: pointer;
  width: 50px;
  height: 25px;
  opacity: 0;
  position: absolute;
  top: 0;
  z-index: 1;
  margin: 0px;
}

.btn-color-mode-switch input[type="checkbox"]:checked + label.btn-color-mode-switch-inner{
  background:lightskyblue;
  color: #fff;
}

.btn-color-mode-switch input[type="checkbox"]:checked + label.btn-color-mode-switch-inner:after{
  content: attr(data-on);
  left: 68px;
  background: #3c3c3c;
}

.btn-color-mode-switch input[type="checkbox"]:checked + label.btn-color-mode-switch-inner:before{
  content: attr(data-off);
  right: auto;
  left: 20px;
}

.btn-color-mode-switch input[type="checkbox"]:checked + label.btn-color-mode-switch-inner{
  /*background: #66BB6A; */
  /*color: #fff;*/
}

.btn-color-mode-switch input[type="checkbox"]:checked ~ .alert{
  display: block;
}

/*mode preview*/
.dark-preview{
  background: #0d0d0d;
}

.dark-preview div.btn-container i.fa-sun-o{
  color: #777;
}

.dark-preview div.btn-container i.fa-moon-o{
  color: #fff;
  text-shadow: 0px 0px 11px #fff;
}

.white-preview{
  background: #fff;
}

.white-preview div.btn-container i.fa-sun-o{
  color: #ffa500;
  text-shadow: 0px 0px 16px #ffa500;
}

